{% extends "base.html" %}

{% block navbar %}
          <form action="/auth/" method="post" class="navbar-form navbar-right">{% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" placeholder="Username" name="username" value="" id="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" placeholder="Password" name="password" value="" id="password" class="form-control">
            </div>
            <button type="submit" value="login" class="btn btn-success">Login</button>
          </form>
{% endblock %}

{% block jumbotron %}
        <h1>Welcome {{ template_title }}</h1>
        <p>Sign in to request or view a scan.</p>
        <p><a class="btn btn-primary btn-lg" href="http://hookerlab.martinos.org/" role="button">Go to Hookerlab &raquo;</a></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'register_user' %}" role="button">Register &raquo;</a></p>
{% endblock %}

{% block content %}

<h1> Hello, welcome home</h1>

{% endblock %}