{% extends "base.html" %}

{% block content %}

<h2>Ordered Scans</h2>         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Subject</th>
        <th>Compound</th>
        <th>Name</th>
        <th>Email</th>
        <th>Request_date</th>
        <th>Updated_date</th>
        <th>Request_time</th>
        <th>Updated_time</th>
        <th>Date_for_scan</th>
        <th>Time_for_scan</th>
        <th>Current_status</th>
        <th>Synthesize?</th>
      </tr>
    </thead>
    <tbody>
      {% for b in obj_order %}
        <tr>
          <td>{{ b.id }}</td>
          <td>{{ b.subject }}</td>
          <td>{{ b.compound }}</td>
          <td>{{ b.name }}</td>
          <td>{{ b.email }}</td>
          <td>{{ b.request_date }}</td>
          <td>{{ b.updated_date }}</td>
          <td>{{ b.request_time }}</td>
          <td>{{ b.updated_time }}</td>
          <td>{{ b.date_for_scan }}</td>
          <td>{{ b.time_for_scan }}</td>
          <td>{{ b.current_status }}</td>
          <td><a type="submit" class="btn btn-primary btn-sm" href="request_synthesis/{{b.id}}" role="button">Synthesize &raquo;</a></td>
        </tr>
       {% endfor %}
    </tbody>
  </table>

<hr>  

<h2>Synthesized Scans</h2>         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Subject</th>
        <th>Compound</th>
        <th>Name</th>
        <th>Email</th>
        <th>Request_date</th>
        <th>Updated_date</th>
        <th>Request_time</th>
        <th>Updated_time</th>
        <th>Date_for_scan</th>
        <th>Time_for_scan</th>
        <th>Initial Activity</th>
        <th>Initial Activity Time</th>
        <th>Current_status</th>
        <th>Perform Scan?</th>
      </tr>
    </thead>
    <tbody>
      {% for b in obj_synth %}
        <tr>
          <td>{{ b.id }}</td>
          <td>{{ b.subject }}</td>
          <td>{{ b.compound }}</td>
          <td>{{ b.name }}</td>
          <td>{{ b.email }}</td>
          <td>{{ b.request_date }}</td>
          <td>{{ b.updated_date }}</td>
          <td>{{ b.request_time }}</td>
          <td>{{ b.updated_time }}</td>
          <td>{{ b.date_for_scan }}</td>
          <td>{{ b.time_for_scan }}</td>
          <td>{{ b.init_activity }}</td>
          <td>{{ b.synthesize_time }}</td>
          <td>{{ b.current_status }}</td>
          <td><a type="submit" class="btn btn-primary btn-sm" href="perform_scan/{{b.id}}">Perform Scan &raquo;</a></td>
        </tr>
       {% endfor %}
    </tbody>
  </table>
  
<hr>  

<h2>Completed Scans</h2>         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Subject</th>
        <th>Compound</th>
        <th>Name</th>
        <th>Email</th>
        <th>Request_date</th>
        <th>Updated_date</th>
        <th>Request_time</th>
        <th>Updated_time</th>
        <th>Date_for_scan</th>
        <th>Time_for_scan</th>
        <th>TOI Activity</th>
        <th>TOI Activity Time</th>
        <th>Current_status</th>
      </tr>
    </thead>
    <tbody>
      {% for b in obj_comp %}
        <tr>
          <td>{{ b.id }}</td>
          <td>{{ b.subject }}</td>
          <td>{{ b.compound }}</td>
          <td>{{ b.name }}</td>
          <td>{{ b.email }}</td>
          <td>{{ b.request_date }}</td>
          <td>{{ b.updated_date }}</td>
          <td>{{ b.request_time }}</td>
          <td>{{ b.updated_time }}</td>
          <td>{{ b.date_for_scan }}</td>
          <td>{{ b.time_for_scan }}</td>
          <td>{{ b.toi_activity }}</td>
          <td>{{ b.scan_time }}</td>
          <td>{{ b.current_status }}</td>
        </tr>
       {% endfor %}
    </tbody>
  </table>



{% endblock %}